#Habilidades{
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Habilidades .habilidades-title{
    color: rgb(224, 224, 224);
    margin: 20px;
    font-size: 2.25em;
    font-weight: 700;
    text-align: center;
}

#Habilidades .habilidades-chart{
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

#Habilidades .chart-name{
    color: rgb(224, 224, 224);
    font-weight: 700;
    text-align: justify;
    font-size: 1.5em;
    align-self: start;
    margin: 20px 0;
}