#Profissional{
    background-color: rgb(224, 224, 224);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#Profissional .profissional-title{
    color: rgb(22, 22, 22);
    margin: 20px;
    font-size: 2.25em;
    font-weight: 700;
    text-align: center;
}

#jobs-timeline{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 20px;
}

#jobs-timeline .content{
    background-color: white;
    max-width: 90%;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#jobs-timeline .jobs-name{
    color: rgb(22, 22, 22);
    font-weight: 700;
    text-align: justify;
    font-size: 1.5em;
}

#jobs-timeline .jobs-role{
    color: rgb(22, 22, 22);
    font-weight: 700;
    text-align: justify;
    font-size: 1em;
    margin: 20px 0;
}

#jobs-timeline .jobs-description{
    display: flex;
    flex-direction: column;
    color: rgb(22, 22, 22);
    text-align: justify;
    font-size: 1em;
    line-height: 1.5;
}