#QuemSou{
    background-color:  rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#QuemSou .about-title{
    color: rgb(179, 179, 179);
    margin: 20px;
    font-size: 2.25em;
    font-weight: 700;
}

.about-picture{
    margin: 30px;
    border-radius: 10px;
}

.about-name{
    color: rgb(179, 179, 179);
    font-weight: 700;
    text-align: justify;
    font-size: 1.5em;
}

.about-description{
    padding: 30px;
    color: rgb(179, 179, 179);
    text-align: justify;
    font-size: 1em;
    line-height: 1.5;
}